.ui-panel .ui-panel-title {
	margin: 0px !important;
}

.ui-datatable-scrollable-body {
	max-height: 400px !important;
}

.confirmIcon{
font-size: 1.5em !important;
width: 1.6em !important;
height: 1.6em !important;
}