@CHARSET "ISO-8859-1";

.containerBanner {
	border: solid 0px;
	display: grid;
	grid-template-columns: 10% 5% 70% auto;
	height: 6vh;
}

.containerBannerLogin {
	border: solid 0px;
	display: grid;
	grid-template-columns: 10% 70% auto;
	height: 6vh;
}

.buttonChild {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	line-height:5vh;
	vertical-align: middle;
 }

.menuRightbtn {
	position: static;
	display: inline-block;
	float: right;
}

.refresh {
	position: static;
	display: inline-block;
	margin-right: 0.5em;
	float: right;
	vertical-align: middle;
	font-size: 1em;
}

.languageSelectChild {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	padding-right: 1vh;
	margin-top: 1vh;
}

.languageFlag {
	position: static;
	display: inline-block;
	float: right;
	margin-right: 0.5em;
}

.languageSelect {
	display: inline-block;
	float: right;
}

.logoChild {
	display: inline-block;
	top: 0;
	left: 0;
	height: 6vh;
	border: solid 0px;
	position: relative;
}

.textChild {
	display: inline-block;
	margin-left: 2% em;
	vertical-align: center;
	height: 6vh;
	line-height: 6vh;
}

.viewTitle {
	font-size: 1.6em;
	color: #005078;
	vertical-align: middle;
	text-decoration: none;
	position: absolute;
	left: 0;
	height: 6vh;
}

.upDialogTitle {
	color:white !important;
	font-size: 1.6em;
	vertical-align: middle;
	margin-left: 0.5em;
	text-decoration: none;
	background-color: none !important;
}

.dialogTitle {
	color:white !important;
	font-size: 1.6em;
	vertical-align: middle;
	margin-left: 0.5em;
	text-decoration: none;
	background-color: none !important;
}

.dialogTitle2 {
	color: inherit;
	font-size: x-large !important;
	background-color: inherit;
	font-family: Josefin Sans !important;
}

.loginDialogTitle {
	color: #fff !important;
	font-size: 1.6em;
	vertical-align: middle;
	text-decoration: none;
	background-color: none !important;
	font-size: 2em !important;
}

.companyLogoStyle {
	width: 100%;
	height: 100%;
	border: none;
	vertical-align: middle;
}

.wideButton {
	width: 8em;
}

.headTitle {
	font-size: x-large;
	color: black;
	margin-left: -200px;
}

.menuItemPoint, #sidemenu, #hbPanelMenu, .sidenav {
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}

.scrollBody {
	height: 100px;
	overflow: auto;
}

* {
	scrollbar-width: auto; /* "auto" or "thin"  */
	scrollbar-color: #bae2f5 #005078;
}

.ui-icon.addActionIcon {
	background: url("#{resource['pictures/icons/16x16/add.png']}") no-repeat
		!important;
	height: 16px;
	width: 16px;
}

.ui-icon.editActionIcon {
	background: url("#{resource['pictures/icons/16x16/edit.png']}")
		no-repeat !important;
	height: 16px;
	width: 16px;
}

.confirmDialog {
	max-width: 350px;
	border-radius: 5px;
}

.confirmDialog>.ui-dialog-titlebar {
	padding: 5px 10px 10px 10px !important;
	vertical-align: center;
	margin: 0 !important;
	color: black;
}

.ui-dialog-titlebar {
	margin: 0 !important;
	text-align: center;
}

.confirmDialog>.ui-dialog-content>.ui-icon {
	display: none;
}

#loginKeePass {
	margin-top: 2%;
	margin-bottom: 10%;
	padding-left: 10px;
}

#keePassCreate {
	margin-bottom: 1%;
	margin-top: 1%;
	margin-right: 1%;
}

.keePassFolderContent {
	float: left;
	width: 240px !important;
	border: none;
}

/* all menu section  */
.sidebarMenu a.ui-menuitem-link {
	width: 12em !important;
}

.ui-tabmenu.sidebarMenu {
	width: 12em !important;
}

.ui-tabmenu.sidebarMenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active a .ui-menuitem-text
	{
	color: #EA5079 !important;
}

.sidebarMenu, .ui-tabmenu.sidebarMenu .ui-tabmenu-nav {
	background-color: #bae2f5 !important;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-tabmenu.sidebarMenu .ui-menuitem-text {
	font-size: 1.2em;
}

.menuRight {
	width: 16em !important;
}

.menuRight a.ui-menuitem-link {
	width: 15.5em !important;
}

.commandButtonStandard {
	width: 9em;
}

.submenuKeePass a.ui-menuitem-link, .ui-menu-child {
	width: 11em !important;
}

.submenuKeePass .ui-menu-child {
	width: 12em !important;
}

.contextMenu a.ui-menuitem-link {
	width: 10em;
}

.contextMenu.ui-menu {
	width: auto;
	border: 1px solid !important;
}
/* end menu section  */

/* Tab View */
.keepassEntryTabs.ui-tabs {
	width: 39em;
}

.pmCommandButton {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	width: 17em;
	height: 3em;
	align: center;
	text-align: left;
}

.borderHidden.headAndTextPanel {
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
}

.contentPart {
	vertical-align: top;
	background-color: #0E5077; /* new design background color */
	margin-top: 0;
	height: 94vh;
	overflow: auto;
}

.welcomePanelTitle, .tutorialTitle {
	font-size: 1.5em !important;
	color: #fff !important;
}

.welcomePanelTitle:hover, .welcomeTableCell:hover, .sidebarbutton:hover,
	.welcomeTableCellImage:hover, #refreshbtn:hover, .recentFileLink:hover,
	.LogoffLink:hover, .loginLinkExpired:hover, .addNewDeviceText:hover,
	.iconsButtons:hover, .closeDialog.ui-commandlink:hover, .ui-breadcrumb .ui-menuitem-text:hover,
	.iconHelpBtn:hover, .iconCloseHelpBtn:hover, .applicationHoverBtn:hover, .actionBarButtons:hover,.portalMenuItems.ui-commandlink:hover,.portalMenuText:hover
	{
	cursor: pointer;
	color: #EA5079 !important;
}

.portalMenuItems.ui-commandlink{
	text-decoration: none;
}

.addNewDeviceText:hover {
	text-decoration: none;
}

.iconsButtons {
	font-size: 2em !important;
	color: #bae2f5 !important;
	margin-right: 1em;
	top: 2em;
}

.actionBarButtons {
	font-size: 1.2em !important;
	color: #bae2f5 !important;
	margin-right: 0.2em;
	text-decoration: none !important;
}

.sidebarbutton {
	line-height: 6vh;
	vertical-align: middle;
	font-size: 1.5em !important;
}

.refresh .fa {
	/* font-size: 1.0em !important; */
	color: #000;
}

.welcomeTableCell {
	margin-top: 2em;
	text-align: center;
}

.elemntWelcome {
	border: none;
	background-color: #134665 !important;
	margin: 2em;
	width: 90%;
	height: 90%;
}

.ui-icon.keepassIcon {
	background: url("#{resource['pictures/Keepass_white.png']}") no-repeat
		!important;
	height: 32px !important;
	width: 32px !important;
	margin-top: -5px;
	margin-right: 10px;
	stroke: white;
	fill: white;
	stroke-width: 1;
}

.ui-icon.passwordSafeIcon {
	background: url("#{resource['pictures/Keepass_white.png']}") no-repeat
		!important;
	height: 32px !important;
	width: 32px !important;
	margin-top: -5px;
	margin-right: 10px;
	stroke: white;
	fill: white;
	stroke-width: 1;
}

.ui-icon.cloudStorage {
	background: url("#{resource['pictures/Cloud_white.png']}") no-repeat
		!important;
	height: 32px !important;
	width: 32px !important;
	margin-top: -5px;
	margin-right: 10px;
}

.ui-icon.globeWhite {
	background: url("#{resource['pictures/Start_white.png']}") no-repeat
		!important;
	height: 34px !important;
	width: 34px !important;
	margin-top: -5px;
	margin-right: 10px;
}

.ui-icon.devices {
	background: url("#{resource['pictures/Devices_white.png']}") no-repeat
		!important;
	height: 32px !important;
	width: 32px !important;
	margin-top: -5px;
	margin-right: 10px;
}

.ui-breadcrumb .ui-menuitem-link {
	background-color: #0E5077 !important;
	text-decoration: none;
}

.ui-breadcrumb .ui-menu .ui-menu-child, .ui-breadcrumb .ui-menuitem-text
	{
	background: #0E5077 !important;
	color: #fff !important;
}

.noMfaMessage {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	/* text-align: center; */
	background-color: #bae2f5;
	border: none;
}

.viewTitleLabel {
	font-size: xx-large;
	color: #fff;
	text-align: left;
	margin-top: 10px;
	vertical-align: middle
}

.viewFileImage {
	margin-left: 0.5em;
	margin-right: 0.5em;
	vertical-align: sub;
	width: 16px;
	height: 16px;
}

.viewSecondTitleLabel {
	font-size: 1.2em;
	color: #fff;
	margin-top: 10px;
}

.sendActivationCode .ui-widget-content {
	background-color: #f0f8ff;
	border: none;
}

#chooseFileForm .ui-widget-content {
	background-color: #0E5077;
	border: none;
	color: #fff;
}

#cloudSafeTree  .fa {
	margin-right: 4px;
}

#cloudSafeTree .ui-panel .ui-panel-content, #sharedCloudSafeTree .ui-panel .ui-panel-content
	{
	padding: 0px;
}

#cloudSafeTree .ui-tree, #sharedCloudSafeTree .ui-tree {
	width: 240px;
	border: none;
}

#cloudSafeSharedWithMe {
	margin-top: 30px;
}

#cloudSafeTree .ui-tree .ui-tree-container, #sharedCloudSafeTree .ui-tree .ui-tree-container
	{
	max-height: 400px;
}

.cloudSafeTreePanel, .sharedCloudSafeTreePanel {
	max-height: 400px;
	min-height: 100px;
	max-width: 240px;
	float: left;
	border: none;
}

#moveFolderDlg .ui-widget-content {
	border: none;
}

.cloudSafeTreePanelDialog {
	overflow: auto !important;
	min-height: 200px;
	border: none;
}

.labelLogin {
	font-size: 1em !important;
}

.btnLoginTutorial {
	margin: 0 auto;
	margin-top: 5em;
}

.customPanelGrid .ui-panelgrid-content {
	margin: 0 auto;
	border: none;
	width: 60em;
	margin-top: 10em;
}

.toturialOfTitle {
	color: #bae2f5 !important;
}

.LogoffLink, .loginLinkExpired {
	color: #fff !important;
	font-size: 1.4em;;
}

.headerImg {
	vertical-align: middle;
	height: auto !important;
	width: 4em !important;
}

.recentFileLink {
	font-size: 1.4em;
	color: #ff7098 !important;
}

#refreshbtn {
	display: inline-block;
	float: right;
	vertical-align: middle;
	font-size: 1.0em !important;
}

#exchangebtn {
	display: inline-block;
	font-size: 1.2em !important;
	padding-right: 0.5em;
}

.panelLoginChild {
	width: 90%;
	margin: 0 auto;
	border: none;
	font-size: 1.2em;
	margin-left: 1em;
}

.panelLoginChildCheckBoxes {
	width: 90%;
	margin: 0 auto;
	border: none;
	font-size: 1.2em;
	margin-left: 1em;
}

.inputTextLogin {
	width: 90%;
}

.profileInputText {
	width: 18em;
}

.closeSafeFile {
	font-size: 1.5em !important;
	color: #EA5079 !important;
}

.closeSafeFile:hover {
	color: #FF1493 !important;
	cursor: pointer;
}

.ui-panel.appPanelStyle .ui-panel-titlebar:hover {
	cursor: move;
}

/****** ApplicationHubStyle *****/
.appPanelStyle:hover .ui-panel-actions {
	visibility: visible;
}

.ui-panel:hover .ui-panel-titlebar-icon {
	visibility: visible;
}

.ui-dashboard-column {
	padding-bottom: 0px;
	text-align: center;
}

.ui-button-icon-only {
	border: 1px solid #C3C3C3 !important;
	padding: 1px;
}

.ui-button-icon-left {
	font-size: small;
	padding-top: 1px;
}

.ui-dataview-header {
	display: none;
}

.ui-dataview-content {
	border: none;
	font-size: 1.2em;
}

.ui-panel-titlebar {
	background-color: #0e5077 !important;
	display: contents;
}

.ui-panel-titlebar-icon {
	visibility: hidden;
}

.ui-panel-actions {
	visibility: hidden;
	width: 90%;
	height: 1.5em;
	min-height: 1.5em;
}

.ui-panel-actions {
	visibility: hidden;
	width: 90%;
	height: 1.5em;
	min-height: 1.5em;
}

.ui-dataview.myApplicationGrid .ui-dataview-row {
	width: 100%;
	margin: 0 auto;
}

.ui-selectlistbox-listcontainer {
	min-height: 24em !important;
}

.ui-selectlistbox-item:hover {
	background-color: #bae2f5 !important;
	color: #EA5079 !important;
}

.ui-password-panel {
	background-color: #bae2f5 !important;
}

.ui-selectlistbox-filter-container .ui-icon {
	left: 1px !important;
	background-image:
		url("#{resource['primefaces-dcemportaltheme:images/ui-icons_222222_256x240.png']}");
}

.ui-selectlistbox-filter.ui-inputfield {
	border: 1px solid #C3C3C3 !important;
	width: 81% !important;
    padding-left: 15px !important;
}

.iconHelpBtn {
	margin-bottom: 0.5em;
	font-size: 1.8em;
	color: #fff;
}

.applicationButtonClose {
	display: inherit !important;
	width: 1.6em !important;
	height: 1.6em !important;
	margin-top: -0.4em;
	margin-right: 0.5em;
	background-color: #fff !important;
	border-radius: 0.8em !important;
	top: 2.2em;
	left: 80%;
}

.applicationButtonEdit {
	display: inherit !important;
	width: 1.6em !important;
	height: 1.6em !important;
	margin-top: -0.4em;
	margin-right: 0.5em;
	background-color: #fff !important;
	border-radius: 0.8em !important;
	top: 1.7em;
	left: 80%;
}

 .applicationButtonView{
	display: inherit !important;
	width: 1.6em !important;
	height: 1.6em !important;
	margin-top: -0.4em;
	margin-right: 0.5em;
	background-color: #fff !important;
	border-radius: 0.8em !important;
	top: 2.7em;
	left: 80%;
}

.applicationButtonClose:hover, .applicationButtonEdit:hover, .applicationButtonView:hover  {
	background-color: #fff !important;
}

.applicationHoverBtn {
	color: #000;
	font-size: 0.8em;
	text-align: center;
	width: auto;
}

.myAppInfoContainer {
	border: 1px solid #fff !important;
	padding: 1em;
	margin: 0 auto;
	margin-top: 5%;
}

.onAddAppText:hover {
	cursor: pointer;
	color: #FF1493 !important;
}

.ui-panel.cloudSafeViewPanel .ui-panel-content, .ui-widget-content.cloudSafeViewPanel
	{
	padding: 0;
	margin: 0;
	background: none !important;
}
/***** ApplicationHub Style End *****/
.ui-panelgrid.gridAttachmentButtons tbody tr, .ui-panelgrid.gridAttachmentButtons tbody td
	{
	border-style: none;
}

.ui-progressbar-determinate .ui-progressbar-value {
	margin: 0px !important;
	background-color: #EA5079 !important;
}

.breadCrumbStyle {
	font-size: 1.2em ! important;
}

.labelPasswordNew {
	font-size: 1.2em ! important;
}

.ui-g {
	background-color: #134665;
}

.bottomImg {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: inline-block;
}

.poweredByImgUp {
	width: 80%;
	display: block;
	margin: 0 auto 8%;
}

.toggleable-panel .ui-panel-title{
	cursor: pointer;
}

.forgotPassClass.ui-panelgrid td, .forgotPassClass.ui-panelgrid tr {
	border: none;
	padding: 0.5em;
}

.imageProfileUser{
	border: 1px solid #005078;
	height: 8em;width: 8em;
	border-radius: 4em;
}

.ui-password.ui-password-masked .ui-password-icon, .ui-password.ui-password-unmasked .ui-password-icon:before{
	margin-left: 0.2em;
}

