@CHARSET "ISO-8859-1";

.ui-button.infoButton {
	background-color: #ad0000 !important;
}
.ui-button.infoButton:hover {
	background-color: #f00000 !important;
}
.ui-button.infoButton:active {
	background-color: #ff0000 !important;
}

.testUnitsClass .ui-panelgrid-cell {
	border-style: none !important;
	width: 33.3%;
	background-color: #e5e5e5;
}

.testUnitsClass .runningTestUnitClass .ui-panelgrid-cell {
	border-style: solid !important;
	background-color: white;
	text-align: center;
}