@CHARSET "ISO-8859-1";



.roleViewTableStyle {
	width: 60%;
}

.sideBarDcem {
  display: flex;
  flex-flow: column;
  float: left; 
  vertical-align: top; 
  overflow-y: auto; 
  height: 100vh; 
  margin-top: 0px; 
  width: 220px;
}

.flexBoxSpacing{
  flex-grow: 1;
  align-items: flex-end;
}

.poweredByImage{
  width: 50%;
  display: block;
}

.imageProfileUser {
	border: 1px solid #005078;
	height: 6em;
	width: 6em;
	border-radius: 4em;
}
