@CHARSET "ISO-8859-1";

body {
	background: #fff;
	font-family: "Segoe UI", sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}

.parent-flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6vh;
	width: 100%;
	position: sticky;
}

.flex-container-center {
	flex: 1;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); /* Center the div perfectly */
}

.flex-container {
	display: flex;
	height: 6vh;
}

.center {
	flex: 1;
	text-align: center;
	position: absolute;
	left: 50%;
	/* Position the left edge of the centered div at 50% of the container's width */
	top: 50%;
	/* Position the top edge of the centered div at 50% of the container's height */
	transform: translate(-50%, -50%); /* Center the div perfectly */
}

.flex-container div {
	padding-left: 1em;
}

.toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: none;
	width: 25px;
	height: 6vh;
	cursor: pointer;
	outline: 0;
	border-radius: 4px;
	padding: 0;
	text-align: center;
}

.toggle span {
	width: 100%;
	height: 4px;
	background: #fff;
	display: block;
	position: relative;
	coursor: pointer;
	border-radius: 4px;
}

.toggle span:before, .toggle span:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: all 0.3s ease-out;
	border-radius: 4px;
}

.toggle span:before {
	top: -8px;
}

.toggle span:after {
	top: 8px;
}

.toggle span.toggle {
	background: transparent;
}

.toggle span.toggle:before {
	top: 0;
	transform: rotate(-45deg);
	background: #fff;
}

.toggle span.toggle:after {
	top: 0;
	transform: rotate(45deg);
	background: #fff;
}

.toggleSideBar {
	background: transparent;
	border: none;
	width: 25px;
	height: 6vh;
	cursor: pointer;
	outline: 0;
	border-radius: 4px;
	padding: 0;
}

#toggleSideBar span {
	width: 100%;
	height: 4px;
	background: #fff;
	display: block;
	position: relative;
	coursor: pointer;
	border-radius: 4px;
}

#toggleSideBar span:before, #toggleSideBar span:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition: all 0.3s ease-out;
	border-radius: 4px;
}

#toggleSideBar span:before {
	top: -8px;
}

#toggleSideBar span:after {
	top: 8px;
}

#toggleSideBar span.toggle {
	background: transparent;
}

#toggleSideBar span.toggle:before {
	top: 0;
	transform: rotate(-45deg);
	background: #fff;
}

#toggleSideBar span.toggle:after {
	top: 0;
	transform: rotate(45deg);
	background: #fff;
}

.header1 {
	font-size: x-large;
	color: #0e4f77;
	padding: 10px !important;
}

.header3 {
	font-size: large;
	color: #0e4f77;
	padding: 10px;
}

.header6 {
	font-size: x-small;
	color: #000;
	padding: 10px;
}

.viewTitle {
	font-size: 1.6em;
	color: #0e4f77;
	vertical-align: middle;
	margin-left: 5px;
	text-decoration: none;
}

.dialogTitle {
	color: #0e4f77 !important;
	vertical-align: middle;
	margin-left: 8px;
	font-size: large;
	text-decoration: none;
	background-color: none !important;
}

.first-column {
	width: 40%;
}

.second-column {
	width: 55%;
}

.tenantBrandingTitle {
	color: #0e4f77 !important;
	margin-left: 0;
	font-size: 1.4em;
}

.ui-accordion-header {
	color: #0e4f77 !important;
}

.ui-accordion-content.ui-helper-reset.ui-widget-content {
	border: 1px solid lightgrey;
	font-size: 2em;
}

.companyLogoStyle {
	width: 100%;
	height: 100%;
	border: none;
	vertical-align: middle;
}

.logoutInverseText {
	color: #C0C0C0;
	mix-blend-mode: difference !Important;
	font-size: 1.2em;
}

.ui-fileupload {
	border: none;
	display: inline;
}

.ui-fileupload-buttonbar {
	background: transparent none;
	border: none;
	display: inline-flex;
}

.ui-fileupload-content {
	border: none;
	display: inline-flex;
}

.ui-fileupload-buttonbar .ui-fileupload-choose {
	background-color: rgba(142, 103, 64, 0.98);
	display: inline-flex;
}

.titleFrame {
	height: 60px; /* equals max image height */
	width: 200px;
	border: 1px solid red;
	white-space: nowrap;
	background-color: #0e4f77;
	text-align: center;
	margin: 1em 0;
}

.dialogBody {
	background: #ffffff;
}

/* Header Bar */
#headerbar {
	background-color: #0e4f77;
	padding-left: 0px;
	margin: 0;
	border-spacing: 0px;
	height: 6em;
}

.headTitle {
	font-size: large;
	color: #ffffff;
	vertical-align: middle !important;
	margin: 10px !important;
}

.headLoginTitle {
	font-size: large;
	color: #ffffff;
	vertical-align: middle !important;
}

#headerbutton {
	background-color: #ffffff !important;
}

/* Menu */
#sidemenu {
	background-color: #f7f7f7;
	overflow-y: auto;
}

.selectMenu {
	display: inline-block;
	vertical-align: center;
}

.ui-menubar {
	border: none;
	margin: 10px 0;
}

.menuActive {
	/* color: yellow;*/
	color: #94c8d5 !important;
	/* font-weight: bold; */
	text-decoration: underline;
}

.menuDisabled {
	color: darkgrey;
}

.menuEnabled {
	color: white;
	text-decoration: underline;
}

/* Tab View */
.ui-tabs-nav {
	background-color: #f0f8ff !important;
}

.wideButton20 {
	padding-left: 20px;
	padding-right: 20px;
}

.ui-widget-content .midButton {
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	width: 180px !Important;
}

.scrollBody {
	height: 100px;
	overflow: auto;
}

.selectedRowClassName {
	/* background-color: yellow; */
	background-color: #94c8d5 !important;
}

.unSelectedRowClassName {
	background-color: lightred;
}

.autoDialogTabe {
	margin: 10px;
}

.columnHeaderClass {
	padding-left: 50px;
	padding-right: 50px;
}

.columnClasses {
	padding-left: 50px;
	padding-right: 50px;
}

.menuCaption {
	background-color: white;
}

.activeMenuCaption {
	color: #eeee00;
}

.ui-paginator {
	background-color: #F7F7F7 !important;
	color: #F7F7F7 !important;
}

.columnLabel {
	white-space: nowrap;
	vertical-align: top;
}

.columnValue {
	vertical-align: top;
}

.autoTableStyle {
	word-wrap: break-word;
}

ul.ui-menu-child {
	white-space: nowrap;
	width: 200px !important;
}

.labelLogin {
	font-size: 1em !important;
}

.closebtn {
	font-size: 1.5em !important;
	color: #fff;
	transition-property: transform;
	transition-duration: 1s;
}

.rowErrorClass {
	color: #FF0000 !important;
}

.rowWarningClass {
	color: #F85300 !important;
}

.rowFailureClass {
	color: #8f0000 !important;
}

.ui-datagrid.applicationGridAdmin .ui-datagrid-header {
	background: none !important;
}

.ui-password.ui-password-masked .ui-password-icon, .ui-password.ui-password-unmasked .ui-password-icon:before
	{
	margin-left: 0.2em;
}

.ui-icon-azure {
	background: url("#{resource['pictures/azure.png']}") no-repeat
		!important;
	margin-top: -12px !important;
	width: 32px !important;
	height: 32px !important;
}

.ui-tooltip-bottom .ui-tooltip-arrow {
	left: 80% !important;
	margin-left: 1px !important;
	margin-top: 2px !important;
}