@CHARSET "ISO-8859-1";

:root {
	--day: inherit;
	--night: none;
}

:root.dark-theme {
	--day: none;
	--night: inherit;
}

.parent-flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 3.5em;
	width: 100%;
	position: sticky;
}

.flex-container {
	display: flex;
	/* 	height: 6vh; */
}

.center {
	flex: 1;
	text-align: center;
	position: absolute;
	left: 50%;
	/* Position the left edge of the centered div at 50% of the container's width */
	top: 50%;
	/* Position the top edge of the centered div at 50% of the container's height */
	transform: translate(-50%, -50%); /* Center the div perfectly */
}

.containerCenter {
	display: flex;
	align-items: middle;
}

.flex-container div {
	padding-left: 1em;
}

.toggle {
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: none;
	width: 25px;
	/* 	height: 6vh; */
	cursor: pointer;
	outline: 0;
	border-radius: 4px;
	padding: 0;
	text-align: center;
}

.toggle span {
	width: 100%;
	height: 4px;
	background: #ffffff;
	display: block;
	position: relative;
	coursor: pointer;
	border-radius: 4px;
}

.toggle span:before, .toggle span:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	border-radius: 4px;
}

.toggle span:before {
	top: -8px;
}

.toggle span:after {
	top: 8px;
}

.toggle span.toggle {
	background: transparent;
}

.toggle span.toggle:before {
	top: 0;
	transform: rotate(-45deg);
	background: var(--primary-background-color);
}

.toggle span.toggle:after {
	top: 0;
	transform: rotate(45deg);
	background: var(--primary-background-color);
}

.toggleSideBar {
	background: transparent;
	border: none;
	width: 25px;
	/* 	height: 6vh; */
	cursor: pointer;
	outline: 0;
	border-radius: 4px;
	padding: 0;
}

#toggleSideBar span {
	width: 100%;
	height: 4px;
	background: var(--primary-background-color);
	display: block;
	position: relative;
	coursor: pointer;
	border-radius: 4px;
}

#toggleSideBar span:before, #toggleSideBar span:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary-background-color);
	transition: all 0.3s ease-out;
	border-radius: 4px;
}

#toggleSideBar span:before {
	top: -8px;
}

#toggleSideBar span:after {
	top: 8px;
}

#toggleSideBar span.toggle {
	background: transparent;
}

#toggleSideBar span.toggle:before {
	top: 0;
	transform: rotate(-45deg);
	background: var(--primary-background-color);
}

#toggleSideBar span.toggle:after {
	top: 0;
	transform: rotate(45deg);
	background: var(--primary-background-color);
}

.header1 {
	font-size: x-large;
	color: var(--header-link-text-color);
	padding: 10px !important;
}

.header3 {
	font-size: large;
	color: var(--header-link-text-color);
	padding: 10px;
}

.header6 {
	font-size: x-small;
	color: var(--header-link-text-color);
	padding: 10px;
}

.viewTitle {
	font-size: 1.6em;
	color: var(--header-link-text-color);
	vertical-align: middle;
	margin-left: 5px;
	text-decoration: none;
}

.dialogTitle {
	color: var(--header-link-text-color) !important;
	vertical-align: middle;
	margin-left: 8px;
	font-size: large;
	text-decoration: none;
	background-color: none !important;
}

.first-column {
	width: 40%;
}

.second-column {
	width: 55%;
}

.tenantBrandingTitle {
	color: var(--header-link-text-color) !important;
	margin-left: 0;
/* 	font-size: 1.4em; */
}

.companyLogoStyle {
	width: 100%;
	height: 100%;
	border: none;
	vertical-align: middle;
}

.logoutInverseText {
	color: #C0C0C0;
	mix-blend-mode: difference !Important;
	font-size: 1.2em;
}

.titleFrame {
	height: 60px; /* equals max image height */
	width: 200px;
	border: 1px solid red;
	white-space: nowrap;
	background-color: #0e4f77;
	text-align: center;
	margin: 1em 0;
}

.dialogBody {
	background: var(--primary-background-color);
}

/* Header Bar */
#headerbar {
	background-color: #0e4f77;
	padding-left: 0px;
	margin: 0;
	border-spacing: 0px;
	height: 6em;
}

.headTitle {
	font-size: large;
	color: var(--primary-background-color);
	vertical-align: middle !important;
	margin: 10px !important;
}

.headLoginTitle {
	font-size: large;
	color: var(--primary-background-color);
	vertical-align: middle !important;
}

#headerbutton {
	background-color: var(--primary-background-color) !important;
}

/* Menu */

/* #sidemenu { */
/* 	background-color: #f7f7f7; */
/* } */
.selectMenu {
	display: inline-block;
	vertical-align: center;
}

.ui-menubar {
	border: none;
	margin: 10px 0;
}

.menuActive {
	/* color: yellow;*/
	color: #94c8d5 !important;
	/* font-weight: bold; */
	text-decoration: underline;
}

.menuDisabled {
	color: darkgrey;
}

.menuEnabled {
	color: white;
	text-decoration: underline;
}

.wideButton20 {
	padding-left: 20px;
	padding-right: 20px;
}

.ui-widget-content .midButton {
	margin-left: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 5px;
	width: 180px !Important;
}

.scrollBody {
	height: 100px;
	overflow: auto;
}

.selectedRowClassName {
	/* background-color: yellow; */
	background-color: #94c8d5 !important;
}

.unSelectedRowClassName {
	background-color: lightred;
}

.autoDialogTabe {
	margin: 10px;
}

.columnHeaderClass {
	padding-left: 50px;
	padding-right: 50px;
}

.columnClasses {
	padding-left: 50px;
	padding-right: 50px;
}

.menuCaption {
	background-color: var(--primary-background-color);
}

.activeMenuCaption {
	color: #eeee00;
}

/* .ui-paginator { */
/* 	background-color: #F7F7F7 !important; */
/* 	color: #F7F7F7 !important; */
/* } */
.columnLabel {
	white-space: nowrap;
	vertical-align: top;
}

.columnValue {
	vertical-align: top;
}

.autoTableStyle {
	word-wrap: break-word;
}

.labelLogin {
	font-size: 1em !important;
}

.closebtn {
	font-size: 1.5em !important;
	color: #fff;
	transition-property: transform;
	transition-duration: 1s;
}

.rowErrorClass {
	color: #FF0000 !important;
}

.rowWarningClass {
	color: #F85300 !important;
}

.rowFailureClass {
	color: #8f0000 !important;
}

.roleViewTableStyle {
	width: 60%;
}

.menuButtons {
	height: 100%;
	display: block;
	overflow-y: auto;
	margin-top: .5em;
}

.sideBarDcem {
	background-color: var(--side-bar-background-color);
	display: flex;
	flex-flow: column;
	float: left;
	height: calc(100vh - 3.5em);
	width: 15.75em;
	box-shadow: var(--side-bar-box-shadow);
	/* 	transition: all 0.5s ease 0s; */
}

.sideBarDcem.close {
	/* 	width: 0; */
	display: none;
}

#conentPart {
	margin-left: 15.75em;
}

#contentPart.extended {
	margin-left: 0;
}

.info-bottom {
	display: flex;
	flex-direction: column;
	box-shadow: var(--side-bar-info-bottom-box-shadow);
	z-index: 1000;
	flex-shrink: 0;
	margin-top: .5em;
	background: var(--side-bar-info-bottom-background-color);
	padding: 0.5em 0;
}

.info-bottom a {
	height: fit-content;
	display: flex;
	width: 100%;
	justify-content: center;
}

.versionInfo {
	font-size: x-small;
	padding-bottom: 2em;
	text-align: center;
}

.flexBoxSpacing {
	flex-grow: 1;
	align-items: flex-end;
}

.poweredByImage {
	width: 100%;
	margin: 0.4em;
	background-image: var(--powered-by-logo);
	height: 45px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	/* 	display: block; */
	/* margin: 0 auto 10%;  */
}

.imageProfileUser {
	border: 1px solid #005078;
	height: 6em;
	width: 6em;
	border-radius: 4em;
}

#contentPart {
	vertical-align: top;
	border: 0;
	border-style: solid;
	overflow: auto;
	height: 94vh;
}

.preferences-seperator {
	display: block;
	width: 100%;
	background-color: var(--preferences-seperator-background-color);
}

.preferences-help-button {
	padding: 2px;
	color: var(--header-link-text-color);
	cursor: pointer;
	font-size: 1.2em;
	margin-left: 0.5em;
}

#theme-switcher {
	cursor: pointer;
	font-size: 1.1em;
}

.theme-switch-day {
	display: var(--day);
}

.theme-switch-night {
	display: var(--night);
}
