:root {
	--primary-font-family: "Segoe UI", sans-serif;
	--primary-background-color: #ffffff;
	--primary-text-color: #000000;
	--highlight-background-color: #bae2f5;
	--header-link-text-color: #0e4f77;
	--table-hover-background-color: #d0ebf8;
	--button-hover-background-color: #0e4f77;
	--button-hover-text-color: #ffffff;
	--button-border-color: #0e4f77;
	--side-bar-background-color: #f7f7f7;
	--side-bar-link-hover-background-color: #dedede;
	--side-bar-info-bottom-background-color: #f2f2f2;
	--inputfield-background-color: #ffffff;
	--inputfield-text-color: #555555;
	--table-head-background-color: #f7f7f7;
	--state-default-text-color: #595955;
	--state-active-text-color: #000000;
	--state-hover-background-color: #d0ebf8;
	--tab-inactive-border-color: #00000021;
	--tab-hover-background-color: #00000008;
	--preferences-seperator-background-color: #d3d3d3;
	--inputfield-border-color: #c3c3c3;
	--inputfield-hover-border-color: #777777;
	--toggleswitch-background-color: #c3c3c3;
	--slider-background-color: #999999;
	--slider-widget-color: #555555;
	--filter: none;
	--powered-by-logo:
		url("#{resource['pictures/HWS_Logo_schwarz_hor_web.png']}");
	/* --side-bar-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19); */
	--side-bar-box-shadow: none;
	/* --side-bar-info-bottom-box-shadow: 0px -5px 8px -4px #c6c6c6; */
	--side-bar-info-bottom-box-shadow: none;
	--widget-icon:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_222222_256x240.png']}");
	--angle-down-icon:
		url("#{resource['primefaces-dcemtheme:images/angle-down-solid.svg']}");
	--angle-right-icon:
		url("#{resource['primefaces-dcemtheme:images/angle-right-solid.svg']}");
}

:root.dark-theme {
	--primary-background-color: #1f1f1f;
	--primary-text-color: #ffffff;
	--highlight-background-color: #265574;
	--header-link-text-color: #7ec4f0; /* #8bb6d1 */
	--table-hover-background-color: #19394d;
	--button-hover-background-color: #7ec4f0; /* #8bb6d1 */
	--button-hover-text-color: #1f1f1f;
	--button-border-color: #7ec4f0; /* #8bb6d1 */
	--side-bar-background-color: #303030;
	--side-bar-link-hover-background-color: #424243;
	--side-bar-info-bottom-background-color: #2b2b2b;
	--inputfield-background-color: #333333;
	--inputfield-text-color: #ffffff;
	--table-head-background-color: #303030;
	--state-default-text-color: #fcfcfc;
	--state-active-text-color: #bbbbbb;
	--state-hover-background-color: #1f1f1f;
	--tab-inactive-border-color: #303030;
	--tab-hover-background-color: #303030;
	--preferences-seperator-background-color: #545454;
	--inputfield-border-color: #c3c3c3;
	--inputfield-hover-border-color: #777777;
	--toggleswitch-background-color: #7b7b7b;
	--slider-background-color: #888888;
	--slider-widget-color: #444444;
	--filter: invert(100%);
	--powered-by-logo:
		url("#{resource['pictures/HWS_Logo_weiss_hor_web.png']}");
	--side-bar-box-shadow: none;
	/* --side-bar-info-bottom-box-shadow: 0px -5px 8px -4px #424243; */
	--side-bar-info-bottom-box-shadow: none;
	--widget-icon:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_888888_256x240.png']}");
	--angle-down-icon:
		url("#{resource['primefaces-dcemtheme:images/angle-down-solid-white.svg']}");
	--angle-right-icon:
		url("#{resource['primefaces-dcemtheme:images/angle-right-solid-white.svg']}");
}

body {
	background: var(--primary-background-color);
	color: var(--primary-text-color);
	font-family: var(--primary-font-family);
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}

/* Component containers----------------------------------*/
.ui-widget {
	font-family: var(--primary-font-family);
	font-size: 1em;
}

.ui-dialog {
	border: 0;
	background: yellow;
	width: auto !important;
	height: auto !important;
}

.dialogBody {
	background-color: var(--primary-background-color);
}

.ui-messages-warn {
	background: #e0800e !important;
	color: #ffffff !important;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-dialog-titlebar {
	background-color: var(--primary-background-color) !important;
	margin: 15px 0px 0px 10px !important;
}

.ui-dialog .ui-dialog-titlebar {
	margin-top: 0.5em !important;
	padding-top: 0.5em !important;
}

.ui-dialog-content {
	padding: 10px 10px 0px 25px !important;
}

.ui-dialog .ui-dialog-title {
	color: var(--header-link-text-color) !important;
	font-size: 1.8em;
	vertical-align: middle;
	text-decoration: none;
	background-color: none !important;
}

.ui-panelmenu .ui-panelmenu-header {
	color: var(--primary-text-color) !important;
	border: none !important;
	outline: none !important;
}

.ui-panelmenu-header a {
	background-color: var(--side-bar-background-color) !important;
	color: var(--primary-text-color) !important;
	border: none !important;
	outline: none !important;
}

.ui-panelmenu-header a:hover {
	background-color: var(--side-bar-link-hover-background-color) !important;
	color: var(--primary-text-color) !important;
}

.ui-panelmenu .ui-menuitem-link {
	border: none;
	padding: .5em .3em .5em 2em;
}

.ui-menu .ui-menuitem-link {
	border: none;
}

.ui-panelmenu-content {
	background-color: var(--side-bar-background-color) !important;
	border: none !important;
	margin-left: 18px;
}

.ui-panelmenu-content a {
	color: var(--primary-text-color) !important;
}

.ui-panelmenu-content a:hover {
	background-color: var(--side-bar-link-hover-background-color);
	color: var(--primary-text-color) !important;
}

.ui-selectonemenu-panel {
	color: #ffffff !important;
	border: 1px solid #c3c3c3;
}

.ui-panel-titlebar {
	font-size: 20px !important;
/* 	height: 1.2em; */
	background-color: #eee;
}

.ui-panel .ui-panel-title {
	margin: 0 auto;
}

.ui-panel-title {
	color: var(--header-link-text-color) !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: var(--primary-font-family);
	font-size: 1em;
}

.ui-widget-content {
	/* border: 1px solid #c3c3c3; */
	background: var(--primary-background-color);
	color: var(--primary-text-color);
}

.ui-widget-content a {
	color: var(--header-link-text-color);
}

.ui-widget-header {
	border: none;
	background: var(--table-head-background-color);
	font-size: 1.0em;
}

.ui-rowgroup-header.ui-widget-header {
	border: none;
	background: var(--table-head-background-color);;
	color: var(--primary-text-color);
	font-size: 1.2em;
}

.ui-widget-header .ui-state-hover {
	border: none;
	background: #eee;
	color: #ffffff;
	font-size: 1.0em;
}

.ui-widget-header a {
	color: var(--header-link-text-color);
	text-decoration: none;
}

.ui-icon-32 {
	font-size: 32;
}

.ui-dialog-title {
	font-size: 1.2em;
}
/* Tab View */
.ui-tabs-nav {
	background-color: transparent !important;
	text-align: left;
}

.ui-tabs .ui-tabs-nav .ui-state-active {
	background: transparent !important;
	font-weight: bold !important;
}

.ui-tabs .ui-tabs-nav li {
	background: transparent;
	border: none;
	border-radius: 4px 4px 0 0;
	margin: 0 !important;
}

.ui-tabs .ui-tabs-nav li a {
	background: transparent;
	border: none;
	color: var(--primary-text-color);
	padding-left: 2em !important;
	padding-right: 2em !important;
}

.ui-tabs .ui-tabs-nav li a {
	border-bottom: 2px solid var(--tab-inactive-border-color) !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a {
	border-bottom: 2px solid var(--header-link-text-color) !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover {
	background: var(--tab-hover-background-color) !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active.ui-state-hover {
	background: transparent !important;
}

.ui-tabs-outline {
	outline: none !important;
}

.ui-autocomplete-panel {
	border: 1px solid #c3c3c3;
}
/* Interaction states----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 1px solid var(--inputfield-border-color);
	font-weight: normal !important;
	color: var(--state-default-text-color);
	background-color: var(--inputfield-background-color);
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
	{
	color: var(--header-link-text-color);
	text-decoration: none;
	border: none !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
	.ui-state-active, .ui-widget-content .ui-state-active,
	.ui-widget-header .ui-state-active {
	background: var(--state-hover-background-color);
	font-weight: normal;
	color: var(--state-active-text-color);
	border-color: #777777;
}

/* .ui-state-hover a, .ui-state-hover a:hover { */
/* 	color: #222222; */
/* 	text-decoration: none; */
/* 	background-color: #D0EBF8; */
/* } */

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	text-decoration: none;
	color: var(--header-link-text-color);
}

.ui-widget:active {
	outline: none;
}

/* Interaction Cues----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background-color: var(--highlight-background-color);
	color: var(--primary-text-color);
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,
	.ui-widget-header .ui-state-highlight a {
	color: #212121;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
	{
	background: #fef1ec !important;
	color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a,
	.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text,
	.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,
	.ui-widget-header .ui-priority-secondary {
/* 	opacity: .7; */
/* 	filter: Alpha(Opacity = 70); */
	font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity = 35);
	background-image: none;
}

/* Icons----------------------------------*/ /* states and images */
.ui-icon {
	font-size: .9rem;
	width: 18px;
	height: 16px;
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_222222_256x240.png']}");
}

.ui-widget-content .ui-icon {
	background-image: var(--widget-icon);
}

.ui-widget-header .ui-icon {
	background-image: var(--widget-icon);
}

.ui-state-default .ui-icon {
	/* background-image: url("#{resource['primefaces-dcemtheme:images/ui-icons_888888_256x240.png']}"); */
	background-image: var(--widget-icon);
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	/* 	background-image: url("#{resource['primefaces-dcemtheme:images/ui-icons_888888_256x240.png']}"); */
	background-image: var(--widget-icon);
}

.ui-state-active .ui-icon {
	/* 	background-image: url("#{resource['primefaces-dcemtheme:images/ui-icons_888888_256x240.png']}"); */
	background-image: var(--widget-icon);
}

.ui-state-highlight .ui-icon {
	/* 	background-image: url("#{resource['primefaces-dcemtheme: images/ui-icons_888888_256x240.png']}"); */
	background-image: var(--widget-icon);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_cd0a0a_256x240.png']}");
}

.ui-confirm-dialog-severity .ui-icon {
	background-image: url("#{resource['pictures/icons/16x16/add.png']}")
		no-repeat !important;
	height: 16px;
	width: 16px;
}

/* positioning */
.ui-icon-carat-1-n {
	background-position: 0 0;
}

.ui-icon-carat-1-ne {
	background-position: -16px 0;
}

.ui-icon-carat-1-e {
	background-position: -32px 0;
}

.ui-icon-carat-1-se {
	background-position: -48px 0;
}

.ui-icon-carat-1-s {
	background-position: -64px 0;
}

.ui-icon-carat-1-sw {
	background-position: -80px 0;
}

.ui-icon-carat-1-w {
	background-position: -96px 0;
}

.ui-icon-carat-1-nw {
	background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0;
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}

.ui-panelmenu-header .ui-icon-triangle-1-e {
	background-image: var(--angle-right-icon) !Important;
	background-repeat: no-repeat;
	background-position: 0px 0px !Important;
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

.ui-menu.ui-menu-dynamic {
	/* 	width: 8em; */
	border: 1px solid var(--inputfield-border-color);
}

.ui-panelmenu-header .ui-icon-triangle-1-s {
	background-image: var(--angle-down-icon) !Important;
	background-repeat: no-repeat;
	background-position: 0px 0px !Important;
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}

.ui-icon-arrow-4 {
	background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}

.ui-icon-extlink {
	background-position: -32px -80px;
}

.ui-icon-newwin {
	background-position: -48px -80px;
}

.ui-icon-refresh {
	background-position: -64px -80px;
}

.ui-icon-shuffle {
	background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px;
}

.ui-icon-folder-open {
	background-position: -16px -96px;
}

.ui-icon-document {
	background-position: -32px -96px;
}

.ui-icon-document-b {
	background-position: -48px -96px;
}

.ui-icon-note {
	background-position: -64px -96px;
}

.ui-icon-mail-closed {
	background-position: -80px -96px;
}

.ui-icon-mail-open {
	background-position: -96px -96px;
}

.ui-icon-suitcase {
	background-position: -112px -96px;
}

.ui-icon-comment {
	background-position: -128px -96px;
}

.ui-icon-person {
	background-position: -144px -96px;
}

.ui-icon-print {
	background-position: -160px -96px;
}

.ui-icon-trash {
	background-position: -176px -96px;
}

.ui-icon-locked {
	background-position: -192px -96px;
}

.ui-icon-unlocked {
	background-position: -208px -96px;
}

.ui-icon-bookmark {
	background-position: -224px -96px;
}

.ui-icon-tag {
	background-position: -240px -96px;
}

.ui-icon-home {
	background-position: 0 -112px;
}

.ui-icon-flag {
	background-position: -16px -112px;
}

.ui-icon-calendar {
	background-position: -32px -112px;
}

.ui-icon-cart {
	background-position: -48px -112px;
}

.ui-icon-pencil {
	background-position: -64px -112px;
}

.ui-icon-clock {
	background-position: -80px -112px;
}

.ui-icon-disk {
	background-position: -96px -112px;
}

.ui-icon-calculator {
	background-position: -112px -112px;
}

.ui-icon-zoomin {
	background-position: -128px -112px;
}

.ui-icon-zoomout {
	background-position: -144px -112px;
}

.ui-icon-search {
	background-position: -160px -112px;
}

.ui-icon-wrench {
	background-position: -176px -112px;
}

.ui-icon-gear {
	background-position: -192px -112px;
}

.ui-icon-heart {
	background-position: -208px -112px;
}

.ui-icon-star {
	background-position: -224px -112px;
}

.ui-icon-link {
	background-position: -240px -112px;
}

.ui-icon-cancel {
	background-position: 0 -128px;
}

.ui-icon-plus {
	background-position: -16px -128px;
}

.ui-icon-plusthick {
	background-position: -32px -128px;
}

.ui-icon-minus {
	background-position: -48px -128px;
}

.ui-icon-minusthick {
	background-position: -64px -128px;
}

.ui-icon-close {
	background-position: -80px -128px;
}

.ui-icon-closethick {
	background-position: -96px -128px;
}

.ui-icon-key {
	background-position: -112px -128px;
}

.ui-icon-lightbulb {
	background-position: -128px -128px;
}

.ui-icon-scissors {
	background-position: -144px -128px;
}

.ui-icon-clipboard {
	background-position: -160px -128px;
}

.ui-icon-copy {
	background-position: -176px -128px;
}

.ui-icon-contact {
	background-position: -192px -128px;
}

.ui-icon-image {
	background-position: -208px -128px;
}

.ui-icon-video {
	background-position: -224px -128px;
}

.ui-icon-script {
	background-position: -240px -128px;
}

.ui-icon-alert {
	background-position: 0 -144px;
}

.ui-icon-info {
	background-position: -16px -144px;
}

.ui-icon-notice {
	background-position: -32px -144px;
}

.ui-icon-help {
	background-position: -48px -144px;
}

.ui-icon-check {
	background-position: -64px -144px;
}

.ui-icon-bullet {
	background-position: -80px -144px;
}

.ui-icon-radio-off {
	background-position: -96px -144px;
}

.ui-icon-radio-on {
	background-position: -112px -144px;
}

.ui-icon-pin-w {
	background-position: -128px -144px;
}

.ui-icon-pin-s {
	background-position: -144px -144px;
}

.ui-icon-play {
	background-position: 0 -160px;
}

.ui-icon-pause {
	background-position: -16px -160px;
}

.ui-icon-seek-next {
	background-position: -32px -160px;
}

.ui-icon-seek-prev {
	background-position: -48px -160px;
}

.ui-icon-seek-end {
	background-position: -64px -160px;
}

.ui-icon-seek-start {
	background-position: -80px -160px;
} /* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
	background-position: -80px -160px;
}

.ui-icon-stop {
	background-position: -96px -160px;
}

.ui-icon-eject {
	background-position: -112px -160px;
}

.ui-icon-volume-off {
	background-position: -128px -160px;
}

.ui-icon-volume-on {
	background-position: -144px -160px;
}

.ui-icon-power {
	background-position: 0 -176px;
}

.ui-icon-signal-diag {
	background-position: -16px -176px;
}

.ui-icon-signal {
	background-position: -32px -176px;
}

.ui-icon-battery-0 {
	background-position: -48px -176px;
}

.ui-icon-battery-1 {
	background-position: -64px -176px;
}

.ui-icon-battery-2 {
	background-position: -80px -176px;
}

.ui-icon-battery-3 {
	background-position: -96px -176px;
}

.ui-icon-circle-plus {
	background-position: 0 -192px;
}

.ui-icon-circle-minus {
	background-position: -16px -192px;
}

.ui-icon-circle-close {
	background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}

.ui-icon-circle-check {
	background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}

/* Misc visuals----------------------------------*/
/* Corner radius */
.ui-corner-tl {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.ui-corner-tr {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-br {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-top {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-right {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ui-corner-left {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa;
	opacity: .30;
	filter: Alpha(Opacity = 30);
}

.ui-widget-shadow {
	
}

/* PrimeFaces Extensions */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	background: var(--inputfield-background-color);
	color: var(--inputfield-text-color);
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus,
	.ui-widget-header .ui-inputfield.ui-state-focus, .ui-inputfield.ui-state-hover
	{
	border-color: var(--inputfield-hover-border-color);
}

.ui-inputfield.ui-state-error {
	color: #000000;
}

.ui-growl {
	width: 450px !Important;
	top: 55px !Important;
}

.ui-growl-message {
	width: 350px !Important;
	padding: 10px !Important;
	color: #000000;
}

.ui-growl-item-container {
	position: relative;
	opacity: 1.00 !Important;
}

.ui-growl-item {
	padding: 20px !Important;
}

.ui-growl-title {
	word-break: break-word;
}

.ui-shadow {
	box-shadow: 0px 0px !Important;
	webkit-box-shadow: 0px 0px !Important;
}

.ui-growl-error {
	background: #ff3634;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-growl-image-error {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/exclamation.png']}")
		!Important;
	background-repeat: no-repeat;
	margin-top: 7px !important;
}

.ui-growl-image-success {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/check.png']}") !Important;
	background-repeat: no-repeat;
	margin-top: 7px !important;
}

.ui-growl-warm {
	background: #f5de0e;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-growl-success {
	background: #42A948;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-growl-info .ui-growl-item {
	background: #A8C7ff;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-fieldset.ui-fieldset .ui-fieldset-legend {
	padding: 0.2em 1em !important;
}

.ui-selectoneradio label {
	padding-right: 20px !important;
}

.ui-selectonemenu-trigger.ui-state-hover {
	background-color: var(--inputfield-background-color);
}

.ui-selectonemenu-trigger.ui-state-focus {
	background-color: var(--inputfield-background-color);
}

.ui-chkbox-box.ui-state-hover, .ui-radiobutton-box.ui-state-hover {
	background-color: transparent !important;
	border-color: #777777;
}

.ui-chkbox-box.ui-state-focus {
	background-color: transparent !important;
}

.ui-state-default.ui-button {
	color: var(--header-link-text-color);
	background-color: var(--primary-background-color);
	border: 1px solid var(--button-border-color);
	border-radius: 7px;
	padding: 0;
}

.ui-button.ui-state-hover, .ui-button.ui-state-active, .ui-button.ui-state-focus, .ui-button:hover, .ui-button:active, .ui-button:focus
	{
	/* 	border: none !important; */
	background-color: var(--button-hover-background-color);
	color: var(--button-hover-text-color);
}

.ui-state-default.ui-button-text {
	color: var(--header-link-text-color)
}

.ui-button.ui-state-active .ui-button-text, .ui-button.ui-state-active {
	color: var(--button-hover-text-color);
}

.ui-button.ui-state-hover .ui-button-text, .ui-button-text:hover {
	color: var(--button-hover-text-color);
}

.ui-tooltip.ui-tooltip-bottom {
	font-size: 13px;
}

body .ui-toggleswitch {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.75rem;
}

body .ui-toggleswitch .ui-toggleswitch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--toggleswitch-background-color);
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 30px;
}

body .ui-toggleswitch .ui-toggleswitch-slider:before {
	position: absolute;
	content: "";
	top: 50%;
	background: white;
	width: 1.25rem;
	height: 1.25rem;
	left: 0.25rem;
	margin-top: -0.625rem;
	border-radius: 50%;
	transition: transform 0.2s;
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider:before
	{
	transform: translateX(1.25rem);
}

body .ui-toggleswitch.ui-toggleswitch-focus .ui-toggleswitch-slider {
	outline: 0 none;
	outline-offset: 0;
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {
	background: var(--header-link-text-color);
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider:before
	{
	background: #ffffff;
}

/* Data Table */
body .ui-datatable tbody, body .ui-datatable tbody td, body .ui-treetable tbody,
	body .ui-treetable tbody td {
	border-style: none;
	word-wrap: break-word;
	padding: 4px 2px 4px 2px;
	word-wrap: break-word;
}

body .ui-datatable tbody, body .ui-treetable tbody {
	/* 	border-top: 1px solid #C5C5C5; */
	border-bottom: 1px solid #C5C5C5;
}

body .ui-datatable th, body .ui-treetable th {
	text-align: left !important;
	padding: 4px 2px 4px 2px !important;
	background-color: var(--table-head-background-color) !important;
	border: none !important;
}

body .ui-datatable tbody tr, body .ui-treetable tbody tr {
	border: none;
}

.ui-datatable-scrollable-theadclone, .ui-treetable-scrollable-theadclone
	{
	display: none;
}

.ui-datatable tbody tr:nth-child(even), .ui-treetable tbody tr:nth-child(even)
	{
	background-color: var(--table-head-background-color);
}

.ui-datatable tbody tr:nth-child(even).ui-state-highlight, .ui-treetable tbody tr:nth-child(even).ui-state-highlight {
	background: var(--highlight-background-color);
}

.ui-datatable tbody tr:nth-child(even):hover, .ui-datatable tbody tr:nth-child(odd):hover,
	.ui-treetable tbody tr:nth-child(even):hover, .ui-treetable tbody tr:nth-child(odd):hover
	{
	background: var(--table-hover-background-color);
}
/* .ui-datatable.borderless tbody tr:nth-child(even) { */
/* 	background-color: #f7f7f7; */
/* } */
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options
	{
	color: val(--primary-text-color);
	background-color: var(--inputfield-background-color);
	border-radius: 3px;
}

.ui-paginator .ui-paginator-current {
	background-color: transparent;
}

.ui-paginator.ui-paginator-bottom {
	padding: 10px 0;
}

/* body .ui-datatable thead th, body .ui-datatable tbody td, body .ui-datatable tfoot td, */
/* 	body .ui-datatable tfoot th { */
/* 	border-left: none !important; */
/* 	border: none; */
/* } */
.ui-treetable.borderless tbody, .ui-treetable.borderless tbody td {
	border-style: none;
	word-wrap: break-word;
}

body .ui-datatable.borderless tr.ui-datatable-even:hover, body .ui-datatable.borderless tr.ui-datatable-odd:hover,
	body .ui-datatable tbody tr:nth-child(even).ui-state-highlight:hover,
	body .ui-datatable tbody tr:hover {
	background: var(--table-hover-background-color);
	color: var(--primary-text-color);
	cursor: pointer;
}

.ui-datatable.borderlessMFALogin tbody, .ui-datatable.borderlessMFALogin tbody tr,
	.ui-datatable.borderlessMFALogin tbody td {
	border-style: none;
	background: transparent;
}

body .ui-datatable.borderlessMFALogin tr.ui-datatable-even:hover, body .ui-datatable.borderlessMFALogin tr.ui-datatable-odd:hover,
	body .ui-datatable.borderlessMFALogin tbody tr:nth-child(2n).ui-state-highlight:hover
	{
	background: transparent;
}

.ui-datatable.borderlessMFALogin thead th {
	padding: 0;
	border-style: none;
	background: transparent !important;
}

.ui-datatable table, .ui-datatable-resizable table {
	table-layout: auto !important;
	width: 100%;
	border-color: #d8d8d8 !important;
}

.ui-datatable tr.ui-state-highlight, .ui-datatable tbody tr:nth-child(even).ui-state-highlight
	{
	background-color: var(--highlight-background-color);
}

.floatingLable {
	font-size: 1em !important;
}

.floatLabelMargin {
	margin-bottom: 35px;
}

.ui-fileupload {
	border: none;
	display: inline;
}

.ui-fileupload-buttonbar {
	background: transparent none;
	border: none;
	display: inline-flex;
}

.ui-fileupload-content {
	border: none;
	display: inline-flex;
}

.ui-fileupload-buttonbar .ui-fileupload-choose {
	/* 	background-color: rgba(142, 103, 64, 0.98); */
	display: inline-flex;
}

.ui-dashboard-column {
	float: left;
	padding-bottom: 1em;
}

body .timeline-frame {
	border: 1px solid #191919;
	background: #323232;
	color: #dedede;
}

body .timeline-frame .timeline-navigation {
	width: 2rem;
	height: 2rem;
	background: transparent;
	color: #888888;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 50%;
	border: 0 none;
	text-align: center;
	line-height: 2rem;
	padding: 0;
	user-select: none;
}

body .timeline-frame .timeline-navigation:hover {
	background: transparent;
	color: #dedede;
	border-color: transparent;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomin
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomin:before
	{
	content: "\e98f";
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomout
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomout:before
	{
	content: "\e990";
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-w
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-w:before
	{
	content: "\e91f";
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-e
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-e:before
	{
	content: "\e920";
}

body .timeline-frame .timeline-event {
	border: 1px solid #191919;
	background: white;
	color: #dedede;
}

body .timeline-frame .timeline-event.ui-state-active {
	background: #81D4FA;
	color: #212529;
}

body .vis-timeline {
	border: 1px solid #191919;
	background: white;
	color: #dedede;
}

body .vis-timeline .vis-item {
	border: 1px solid #f0f0f0;
	background: white;
	color: #dedede;
}

body .vis-timeline .vis-item .vis-item-content {
	color: #dedede;
}

body .vis-timeline .vis-item.vis-dot {
	border-width: 4px;
}

body .vis-timeline .vis-item.vis-selected {
	background: #81D4FA;
	border-color: #81D4FA;
}

body .vis-timeline .vis-item.vis-selected .vis-item-content {
	color: white;
}

body .vis-timeline .vis-time-axis .vis-text {
	color: var(--header-link-text-color);
}

body .vis-timeline .vis-panel .vis-shadow {
	box-shadow: none;
}

body .ui-password .ui-password-icon {
	cursor: pointer;
}

body .ui-password.ui-password-masked .ui-password-icon {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .ui-password.ui-password-masked .ui-password-icon:before {
	content: "\e966";
}

body .ui-password.ui-password-unmasked .ui-password-icon {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .ui-password.ui-password-unmasked .ui-password-icon:before {
	content: "\e965";
}

body .ui-password-panel {
	background: #323232;
	color: #dedede;
	padding: 1rem;
	border: 1px solid #191919;
	margin: 0;
	width: auto;
	min-width: 150px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border-radius: 3px;
}

.ui-password.ui-password-masked .ui-password-icon, .ui-password.ui-password-unmasked .ui-password-icon:before
	{
	margin-left: 0.2em;
}

.ui-texteditor .ui-editor-toolbar {
	background: #f4f4f4;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px
}

.ui-texteditor .ui-editor-toolbar.ql-snow {
	border: 1px solid #c8c8c8
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-stroke {
	stroke: #848484
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-fill {
	fill: #848484
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label {
	border: 0 none;
	color: #848484
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label:hover
	{
	color: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label:hover .ql-stroke
	{
	stroke: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label:hover .ql-fill
	{
	fill: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label
	{
	color: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke
	{
	stroke: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill
	{
	fill: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options
	{
	background: #fff;
	border: 1px solid #c8c8c8;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
	border-radius: 3px;
	padding: 0
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item
	{
	color: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item:hover
	{
	color: #333;
	background: #eaeaea
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded:not(.ql-icon-picker) .ql-picker-item
	{
	padding: .429rem .857rem
}

.ui-texteditor .ql-container {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.ui-texteditor .ql-container.ql-snow {
	border: 1px solid #c8c8c8
}

.ui-texteditor .ql-container .ql-editor {
	/* 	background: #fff; */
	/* 	color: #333; */
	background: var(--inputfield-background-color);
	color: var(--inputfield-text-color);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	/* 		min-height: 150px; */
	height: 170px;
	/* 	max-height: 170px; */
}

.ql-editor.ql-blank::before {
	color: var(--inputfield-text-color) !important;
}

.ui-texteditor .ql-snow.ql-toolbar button:hover, .ui-texteditor .ql-snow.ql-toolbar button:focus
	{
	color: #333
}

.ui-texteditor .ql-snow.ql-toolbar button:hover .ql-stroke,
	.ui-texteditor .ql-snow.ql-toolbar button:focus .ql-stroke {
	stroke: #333
}

.ui-texteditor .ql-snow.ql-toolbar button:hover .ql-fill, .ui-texteditor .ql-snow.ql-toolbar button:focus .ql-fill
	{
	fill: #333
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active, .ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
	color: #007ad9
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active .ql-stroke,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke
	{
	stroke: #007ad9
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active .ql-fill,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill
	{
	fill: #007ad9
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active .ql-picker-label,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-picker-label,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-picker-label
	{
	color: #007ad9
}

.ui-texteditor.ui-state-error .ui-editor-toolbar.ql-snow, .ui-texteditor.ui-state-error .ql-container.ql-snow
	{
	border-color: #a80000
}

body .ui-rating .ui-rating-cancel {
	float: none;
	display: inline-block;
	margin-right: 0.5rem;
	overflow: visible
}

body .ui-rating .ui-rating-cancel.ui-state-focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 .1rem #fff
}

body .ui-rating .ui-rating-cancel a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	text-indent: 0;
	transition: background-color .2s, color .2s, border-color .2s,
		box-shadow .2s, opacity .2s;
	display: block;
	font-size: 1.143rem;
	height: 1.143rem;
	width: 1.143rem;
	color: #e4018d;
	overflow: visible
}

body .ui-rating .ui-rating-cancel a:before {
	content: ""
}

body .ui-rating .ui-rating-cancel a:hover {
	color: #b5019f
}

body .ui-rating .ui-rating-star {
	float: none;
	display: inline-block;
	margin-right: .2rem;
	overflow: visible
}

body .ui-rating .ui-rating-star.ui-state-focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 .1rem #fff
}

body .ui-rating .ui-rating-star a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	text-indent: 0;
	display: block;
	font-size: large;
	height: 1.0rem;
	width: 1.0rem;
	color: #888;
	overflow: visible
}

body .ui-rating .ui-rating-star a:before {
	content: ""
}

body .ui-rating .ui-rating-star a:hover {
	color: #81d4fa
}

body .ui-rating .ui-rating-star-on a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	display: block;
	font-size: large;
	height: 1rem;
	width: 1rem;
	color: yellow
}

.ui-rating.ui-fadeRating  .ui-rating-star-on  a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	display: block;
	font-size: large;
	height: 1rem;
	width: 1rem;
	color: lightyellow
}

body .ui-rating .ui-rating-star-on a:before {
	content: ""
}

body .ui-state-highlight .ui-rating-star a {
	color: #212529
}

.ui-autocomplete-empty-message {
	color: red;
	font-weight: bold;
}

body .ui-input-icon-left, body .ui-input-icon-right {
	position: relative;
	display: inline-block;
}

body .ui-fluid .ui-input-icon-left, body .ui-fluid .ui-input-icon-right
	{
	display: block;
}

body .ui-input-icon-left>i, body .ui-input-icon-right>i {
	position: absolute;
	top: 50%;
	margin-top: -0.5rem;
}

body .ui-input-icon-left>i:first-of-type {
	left: 0.429rem;
	color: #848484;
}

body .ui-input-icon-left>.ui-inputfield {
	padding-left: 1.858rem;
}

body .ui-input-icon-right>i:last-of-type {
	right: 0.429rem;
	color: #848484;
}

body .ui-input-icon-right>.ui-inputfield {
	/*     padding-right: 1.858rem; */
	
}

.ui-link, .ui-commandlink {
	color: var(--header-link-text-color);
}

.p-datepicker .ui-button {
	border-left: none;
	border-color: #c3c3c3;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.p-datepicker .ui-button.ui-state-hover {
	background: #fff;
}

.datePickerInput .ui-inputfield, .p-datepicker .ui-inputfield {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	border-right: 0;
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	background: var(--inputfield-background-color);
}

.ui-datatable .ui-column-filter, .ui-datatable .ui-column-customfilter {
	margin: 0.2rem;
	width: inherit;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	background-image: var(--angle-down-icon);
	background-position: 0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	cursor: default;
}

.ui-autocomplete-input.ui-autocomplete-dd-input {
	border-radius: 3px;
}

.ui-autocomplete .ui-state-default.ui-button {
	border: none;
	border-top: 1px solid #C3C3C3;
	border-bottom: 1px solid #C3C3C3;
	border-right: 1px solid #C3C3C3;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	background: var(--inputfield-background-color);
}

.ui-autocomplete.ui-inputfield.ui-state-focus .ui-state-default.ui-button,
	.ui-autocomplete .ui-state-default.ui-button.ui-state-hover {
	/* 	background: var(--state-hover-background-color); */
	border-color: #777777;
}

.ui-autocomplete .ui-state-default.ui-button .ui-icon {
	background-image: var(--angle-down-icon);
	background-position: 0;
}

.ui-autocomplete .ui-autocomplete-dropdown {
	width: 16px !important;
	padding: 0 11px;
}

.ui-contextmenu {
	border-style: solid;
	border-color: grey;
	border-width: thin;
}

.ui-datagrid.applicationGridAdmin .ui-datagrid-header {
	background: none !important;
}

.ui-password.ui-password-masked .ui-password-icon, .ui-password.ui-password-unmasked .ui-password-icon:before
	{
	margin-left: 0.2em;
}

.ui-icon-azure {
	background: url("#{resource['pictures/azure.png']}") no-repeat
		!important;
	margin-top: -12px !important;
	width: 32px !important;
	height: 32px !important;
}

.ui-tooltip-bottom .ui-tooltip-arrow {
	left: 80% !important;
	margin-left: 1px !important;
	margin-top: 2px !important;
}

ul.ui-menu-child {
	white-space: nowrap;
	width: 200px !important;
}

.ui-fileupload {
	border: none;
	display: inline;
}

.ui-fileupload-buttonbar {
	background: transparent none;
	border: none;
	display: inline-flex;
}

.ui-fileupload-content {
	border: none;
	display: inline-flex;
}

.ui-accordion-header {
	color: var(--header-link-text-color) !important;
}

.ui-accordion-content.ui-helper-reset.ui-widget-content {
	border: 1px solid lightgrey;
	/* 	font-size: 2em; */
}

.ui-chkbox .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active
	{
	background: var(--inputfield-background-color);
}

.ui-overlaypanel {
	border: 1px solid var(--inputfield-border-color);
}

.ui-inputswitch {
	border: 1px solid var(--inputfield-border-color);
}

.ui-inputswitch .ui-inputswitch-on {
	background: var(--highlight-background-color);
	color: var(--primary-text-color);
}

textarea, select {
	background: var(--inputfield-background-color);
	color: var(--inputfield-text-color);
	border: 1px solid var(--inputfield-border-color);
	border-radius: 3px;
}

textarea:hover, textarea:active, textarea:focus, select:hover, select:active,
	select:focus {
	border-color: #777777;
}

.ui-organigram .control {
	filter: var(--filter);
}
