/* Component containers----------------------------------*/
.ui-widget {
	font-family: "Segoe UI", sans-serif;
	font-size: 15px;
}

.ui-dialog {
	/* position: relative; */
	border: 0;
	background: yellow;
	width: auto !important;
	height: auto !important;
}

.dialogBody {
	background-color: #ffffff;
}

.ui-messages-warn {
	background: #e0800e !important;
	color: white !important;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-dialog-titlebar {
	background-color: #ffffff !important;
	margin: 15px 0px 0px 10px !important;
}

.ui-dialog .ui-dialog-titlebar {
	margin-top: 0.5em !important;
	padding-top: 0.5em !important;
}

.ui-dialog-content {
	padding: 10px 10px 0px 25px !important;
}

.ui-dialog .ui-dialog-title {
	color: #0e4f77 !important;
	font-size: 1.8em;
	vertical-align: middle;
	text-decoration: none;
	background-color: none !important;
}

.ui-panelmenu .ui-panelmenu-header {
	color: #000 !important;
	border: none !important;
	outline: none !important;
}

.ui-panelmenu-header a {
	background-color: #f7f7f7 !important;
	color: #000 !important;
	border: none !important;
	outline: none !important;
}

.ui-panelmenu-header a:hover {
	background-color: #DEDEDE !important;
	color: #000 !important;
}

.ui-panelmenu-content {
	background-color: #f7f7f7 !important;
	border: none !important;
	margin-left: 18px;
}

.ui-panelmenu-content a {
	color: #000 !important;
}

.ui-panelmenu-content a:hover {
	background-color: #DEDEDE;
	color: #000 !important;
}

.ui-selectonemenu-panel {
	color: #ffffff !important;
}

.ui-panel-titlebar {
	font-size: 20px !important;
	height: 1.2em;
	background-color: #eee !important;
}

.ui-panel-title {
	color: #0e4f77 !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: "Segoe UI", sans-serif;
	font-size: 1em;
}

.ui-widget-content {
	border: 1px solid #c3c3c3;
	background: #ffffff;
	color: #222222;
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	border: none;
	background: #7f7f7f;
	color: #ffffff;
	font-size: 1.0em;
}

.ui-rowgroup-header.ui-widget-header {
	border: none;
	background: #e5e5e5;;
	color: #222222;
	font-size: 1.2em;
}

.ui-widget-header ui-state-hover {
	border: none;
	background: #7f7f7f;
	color: #ffffff;
	font-size: 1.0em;
}

.ui-widget-header a {
	color: #222222;
}

.ui-icon-32 {
	font-size: 32;
}

.ui-dialog-title {
	font-size: 1.2em;
}

.ui-tabs-header a:active {
	background-color: #0e4f77;
}

/* Interaction states----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 1px solid #C3C3C3;
	font-weight: normal !important;
	color: #595955;
	background-color: #e5e5e5;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
	{
	color: #555555;
	text-decoration: none;
	border: none !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	/* border: 1px solid #806060; */
	background: #94c8d5;
	font-weight: normal;
	color: #222222;
}

.ui-state-hover a, .ui-state-hover a:hover {
	color: #222222;
	text-decoration: none;
	background-color: #94c8d5;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	border: 1px solid #C3C3C3;
	background: #F7F7F7 !important;
	font-weight: normal;
	color: #212121;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: white;
	text-decoration: none;
	background-color: #0e4f77;
}

.ui-widget:active {
	outline: none;
}

/* Interaction Cues----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background-color: #bae2f5;
	color: #212121;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,
	.ui-widget-header .ui-state-highlight a {
	color: #212121;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
	{
	background: #fef1ec !important;
	color: #cd0a0a;
}

.ui-state-error a, .ui-widget-content .ui-state-error a,
	.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text,
	.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary,
	.ui-widget-header .ui-priority-primary {
	/* font-weight: bold; */
	
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,
	.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity = 70);
	font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity = 35);
	background-image: none;
} /* Icons----------------------------------*/ /* states and images */
.ui-icon {
	font-size: .9rem;
	width: 16px;
	height: 16px;
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_222222_256x240.png']}");
}

.ui-widget-content .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_222222_256x240.png']}");
}

.ui-widget-header .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_222222_256x240.png']}");
}

.ui-state-default .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_888888_256x240.png']}");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_454545_256x240.png']}");
}

.ui-state-active .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_454545_256x240.png']}");
}

.ui-state-highlight .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_2e83ff_256x240.png']}");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/ui-icons_cd0a0a_256x240.png']}");
}

.ui-confirm-dialog-severity .ui-icon {
	background-image: url("#{resource['pictures/icons/16x16/add.png']}")
		no-repeat !important;
	height: 16px;
	width: 16px;
}

/* positioning */
.ui-icon-carat-1-n {
	background-position: 0 0;
}

.ui-icon-carat-1-ne {
	background-position: -16px 0;
}

.ui-icon-carat-1-e {
	background-position: -32px 0;
}

.ui-icon-carat-1-se {
	background-position: -48px 0;
}

.ui-icon-carat-1-s {
	background-position: -64px 0;
}

.ui-icon-carat-1-sw {
	background-position: -80px 0;
}

.ui-icon-carat-1-w {
	background-position: -96px 0;
}

.ui-icon-carat-1-nw {
	background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0;
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}

.ui-panelmenu-header .ui-icon-triangle-1-e {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/angle-right-solid.svg']}")
		!Important;
	background-repeat: no-repeat;
	background-position: 0px 0px !Important;
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

.ui-menu.ui-menu-dynamic {
	/* 	width: 8em; */
	
}

.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}

.ui-panelmenu-header .ui-icon-triangle-1-s {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/angle-down-solid.svg']}")
		!Important;
	background-repeat: no-repeat;
	background-position: 0px 0px !Important;
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}

.ui-icon-arrow-4 {
	background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}

.ui-icon-extlink {
	background-position: -32px -80px;
}

.ui-icon-newwin {
	background-position: -48px -80px;
}

.ui-icon-refresh {
	background-position: -64px -80px;
}

.ui-icon-shuffle {
	background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px;
}

.ui-icon-folder-open {
	background-position: -16px -96px;
}

.ui-icon-document {
	background-position: -32px -96px;
}

.ui-icon-document-b {
	background-position: -48px -96px;
}

.ui-icon-note {
	background-position: -64px -96px;
}

.ui-icon-mail-closed {
	background-position: -80px -96px;
}

.ui-icon-mail-open {
	background-position: -96px -96px;
}

.ui-icon-suitcase {
	background-position: -112px -96px;
}

.ui-icon-comment {
	background-position: -128px -96px;
}

.ui-icon-person {
	background-position: -144px -96px;
}

.ui-icon-print {
	background-position: -160px -96px;
}

.ui-icon-trash {
	background-position: -176px -96px;
}

.ui-icon-locked {
	background-position: -192px -96px;
}

.ui-icon-unlocked {
	background-position: -208px -96px;
}

.ui-icon-bookmark {
	background-position: -224px -96px;
}

.ui-icon-tag {
	background-position: -240px -96px;
}

.ui-icon-home {
	background-position: 0 -112px;
}

.ui-icon-flag {
	background-position: -16px -112px;
}

.ui-icon-calendar {
	background-position: -32px -112px;
}

.ui-icon-cart {
	background-position: -48px -112px;
}

.ui-icon-pencil {
	background-position: -64px -112px;
}

.ui-icon-clock {
	background-position: -80px -112px;
}

.ui-icon-disk {
	background-position: -96px -112px;
}

.ui-icon-calculator {
	background-position: -112px -112px;
}

.ui-icon-zoomin {
	background-position: -128px -112px;
}

.ui-icon-zoomout {
	background-position: -144px -112px;
}

.ui-icon-search {
	background-position: -160px -112px;
}

.ui-icon-wrench {
	background-position: -176px -112px;
}

.ui-icon-gear {
	background-position: -192px -112px;
}

.ui-icon-heart {
	background-position: -208px -112px;
}

.ui-icon-star {
	background-position: -224px -112px;
}

.ui-icon-link {
	background-position: -240px -112px;
}

.ui-icon-cancel {
	background-position: 0 -128px;
}

.ui-icon-plus {
	background-position: -16px -128px;
}

.ui-icon-plusthick {
	background-position: -32px -128px;
}

.ui-icon-minus {
	background-position: -48px -128px;
}

.ui-icon-minusthick {
	background-position: -64px -128px;
}

.ui-icon-close {
	background-position: -80px -128px;
}

.ui-icon-closethick {
	background-position: -96px -128px;
}

.ui-icon-key {
	background-position: -112px -128px;
}

.ui-icon-lightbulb {
	background-position: -128px -128px;
}

.ui-icon-scissors {
	background-position: -144px -128px;
}

.ui-icon-clipboard {
	background-position: -160px -128px;
}

.ui-icon-copy {
	background-position: -176px -128px;
}

.ui-icon-contact {
	background-position: -192px -128px;
}

.ui-icon-image {
	background-position: -208px -128px;
}

.ui-icon-video {
	background-position: -224px -128px;
}

.ui-icon-script {
	background-position: -240px -128px;
}

.ui-icon-alert {
	background-position: 0 -144px;
}

.ui-icon-info {
	background-position: -16px -144px;
}

.ui-icon-notice {
	background-position: -32px -144px;
}

.ui-icon-help {
	background-position: -48px -144px;
}

.ui-icon-check {
	background-position: -64px -144px;
}

.ui-icon-bullet {
	background-position: -80px -144px;
}

.ui-icon-radio-off {
	background-position: -96px -144px;
}

.ui-icon-radio-on {
	background-position: -112px -144px;
}

.ui-icon-pin-w {
	background-position: -128px -144px;
}

.ui-icon-pin-s {
	background-position: -144px -144px;
}

.ui-icon-play {
	background-position: 0 -160px;
}

.ui-icon-pause {
	background-position: -16px -160px;
}

.ui-icon-seek-next {
	background-position: -32px -160px;
}

.ui-icon-seek-prev {
	background-position: -48px -160px;
}

.ui-icon-seek-end {
	background-position: -64px -160px;
}

.ui-icon-seek-start {
	background-position: -80px -160px;
} /* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
	background-position: -80px -160px;
}

.ui-icon-stop {
	background-position: -96px -160px;
}

.ui-icon-eject {
	background-position: -112px -160px;
}

.ui-icon-volume-off {
	background-position: -128px -160px;
}

.ui-icon-volume-on {
	background-position: -144px -160px;
}

.ui-icon-power {
	background-position: 0 -176px;
}

.ui-icon-signal-diag {
	background-position: -16px -176px;
}

.ui-icon-signal {
	background-position: -32px -176px;
}

.ui-icon-battery-0 {
	background-position: -48px -176px;
}

.ui-icon-battery-1 {
	background-position: -64px -176px;
}

.ui-icon-battery-2 {
	background-position: -80px -176px;
}

.ui-icon-battery-3 {
	background-position: -96px -176px;
}

.ui-icon-circle-plus {
	background-position: 0 -192px;
}

.ui-icon-circle-minus {
	background-position: -16px -192px;
}

.ui-icon-circle-close {
	background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}

.ui-icon-circle-check {
	background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}

/* Misc visuals----------------------------------*/
/* Corner radius */
.ui-corner-tl {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.ui-corner-tr {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-br {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-top {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-right {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ui-corner-left {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa;
	opacity: .30;
	filter: Alpha(Opacity = 30);
}

.ui-widget-shadow {
	
}

/* PrimeFaces Extensions */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	background: #ffffff;
	color: #555555;
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus,
	.ui-widget-header .ui-inputfield.ui-state-focus {
	border-color: #777777;
}

.ui-growl {
	width: 450px !Important;
	top: 55px !Important;
}

.ui-growl-message {
	width: 350px !Important;
	padding: 10px !Important;
}

.ui-growl-item-container {
	position: relative;
	/* 	margin: 10px 10px 10px 10px;  */
	opacity: 1.00 !Important;
}

.ui-growl-item {
	padding: 20px !Important;
	/* 	width: 350px !Important;  */
}

.ui-growl-title {
	
}

.ui-shadow {
	box-shadow: 0px 0px !Important;
	webkit-box-shadow: 0px 0px !Important;
}

.ui-growl-error {
	background: #ff3634;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-growl-image-error {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/exclamation.png']}")
		!Important;
	background-repeat: no-repeat;
	margin-top: 7px !important;
}

/* .ui-growl-image-info {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/information.png']}")
		!Important;
	background-repeat: no-repeat;
	margin-top: 7px !important;
} */
.ui-growl-image-success {
	background-image:
		url("#{resource['primefaces-dcemtheme:images/check.png']}") !Important;
	background-repeat: no-repeat;
	margin-top: 7px !important;
}

.ui-growl-warm {
	background: #f5de0e;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-growl-success {
	background: #42A948;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-growl-info .ui-growl-item {
	background: #A8C7ff;
	font-weight: normal !important;
	border-radius: 5px !important;
}

.ui-fieldset.ui-fieldset .ui-fieldset-legend {
	padding: 0.2em 1em !important;
}

.ui-selectoneradio label {
	padding-right: 20px !important;
}

.ui-selectonemenu-trigger.ui-state-hover {
	background-color: #8797c2 !important;
}

.ui-selectonemenu-trigger.ui-state-focus {
	background-color: #8797c2 !important;
}

.ui-chkbox-box.ui-state-hover {
	background-color: #8797c2 !important;
}

.ui-chkbox-box.ui-state-focus {
	background-color: #8797c2 !important;
}

.ui-button {
	color: #0e4f77 !important;
	background-color: #fff !important;
	border: 1px solid #0e4f77 !important;
	border-radius: 7px;
	padding: .1em;
}

.ui-button.ui-state-hover, .ui-button.ui-state-active {
	/* 	border: none !important; */
	background-color: #00517B !important;
	color: #ffffff !important;
}

.ui-button-text {
	color: #0e4f77 !important;
}

.ui-button.ui-state-active .ui-button-text, .ui-button.ui-state-hover .ui-button-text
	{
	color: #fff !important;
}

.ui-button-text:hover {
	color: #ffffff !important;
}

.ui-tooltip.ui-tooltip-bottom {
	font-size: 13px;
}

body .ui-toggleswitch {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 1.75rem;
}

body .ui-toggleswitch .ui-toggleswitch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: lightgrey;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 30px;
}

body .ui-toggleswitch .ui-toggleswitch-slider:before {
	position: absolute;
	content: "";
	top: 50%;
	background: white;
	width: 1.25rem;
	height: 1.25rem;
	left: 0.25rem;
	margin-top: -0.625rem;
	border-radius: 50%;
	transition: transform 0.2s;
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider:before
	{
	transform: translateX(1.25rem);
}

body .ui-toggleswitch.ui-toggleswitch-focus .ui-toggleswitch-slider {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 0.1rem white;
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {
	background: #0e4f77;
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider:before
	{
	background: lightgrey;
}

/* Data Table */
.ui-datatable.borderless tbody, .ui-datatable.borderless tbody td {
	border-style: none;
	word-wrap: break-word;
	padding: 4px 2px 4px 2px;
	word-wrap: break-word;
}

.ui-datatable.borderless tbody {
	/* 	border-top: 1px solid #C5C5C5; */
	border-bottom: 1px solid #C5C5C5;
}

.ui-datatable.borderless th {
	text-align: left;
	padding: 10px 5px;
	background-color: #F7F7F7;
}

.ui-datatable.borderless tbody tr {
	border: none;
}

.ui-datatable.borderless tbody tr:nth-child(even) {
	background-color: #f7f7f7;
}

.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options
	{
	color: #000;
	background-color: #F9F9F9;
}

.ui-paginator .ui-paginator-current {
	background-color: transparent;
}

.ui-paginator.ui-paginator-bottom {
	padding: 10px 0;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	border-left: none;
	border: none;
}

.ui-treetable.borderless tbody, .ui-treetable.borderless tbody td {
	border-style: none;
	word-wrap: break-word;
}

.ui-datatable.borderless tr.ui-datatable-even:hover, .ui-datatable.borderless tr.ui-datatable-odd:hover,
	.ui-datatable.borderless tbody tr:nth-child(even).ui-state-highlight:hover
	{
	background: #DEDEDE;
	cursor: pointer;
}

.ui-datatable.borderlessMFALogin tbody, .ui-datatable.borderlessMFALogin tbody tr,
	.ui-datatable.borderlessMFALogin tbody td {
	border-style: none;
}

.ui-datatable.borderlessMFALogin thead th {
	padding: 0;
	border-style: none;
}

.ui-datatable table, .ui-datatable-resizable table {
	table-layout: auto !important;
	border-color: #d8d8d8 !important;
}

.ui-datatable tr.ui-state-highlight, .ui-datatable.borderless tbody tr:nth-child(even).ui-state-highlight
	{
	background-color: #cee2ff;
}

.floatingLable {
	font-size: 1em !important;
}

.floatLabelMargin {
	margin-bottom: 35px;
}

.ui-fileupload {
	border: none;
	display: inline;
}

.ui-fileupload-buttonbar {
	background: transparent none;
	border: none;
	display: inline-flex;
}

.ui-fileupload-content {
	border: none;
	display: inline-flex;
}

.ui-fileupload-buttonbar .ui-fileupload-choose {
	background-color: rgba(142, 103, 64, 0.98);
	display: inline-flex;
}

.ui-dashboard-column {
	float: left;
	padding-bottom: 1em;
}

body .timeline-frame {
	border: 1px solid #191919;
	background: #323232;
	color: #dedede;
}

body .timeline-frame .timeline-navigation {
	width: 2rem;
	height: 2rem;
	background: transparent;
	color: #888888;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s,
		box-shadow 0.2s;
	border-radius: 50%;
	border: 0 none;
	text-align: center;
	line-height: 2rem;
	padding: 0;
	user-select: none;
}

body .timeline-frame .timeline-navigation:hover {
	background: transparent;
	color: #dedede;
	border-color: transparent;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomin
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomin:before
	{
	content: "\e98f";
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomout
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-zoomout:before
	{
	content: "\e990";
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-w
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-w:before
	{
	content: "\e91f";
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-e
	{
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .timeline-frame .timeline-navigation .ui-icon.ui-icon-circle-arrow-e:before
	{
	content: "\e920";
}

body .timeline-frame .timeline-event {
	border: 1px solid #191919;
	background: white;
	color: #dedede;
}

body .timeline-frame .timeline-event.ui-state-active {
	background: #81D4FA;
	color: #212529;
}

body .vis-timeline {
	border: 1px solid #191919;
	background: white;
	color: #dedede;
}

body .vis-timeline .vis-item {
	border: 1px solid #f0f0f0;
	background: white;
	color: #dedede;
}

body .vis-timeline .vis-item .vis-item-content {
	color: #dedede;
}

body .vis-timeline .vis-item.vis-dot {
	border-width: 4px;
}

body .vis-timeline .vis-item.vis-selected {
	background: #81D4FA;
	border-color: #81D4FA;
}

body .vis-timeline .vis-item.vis-selected .vis-item-content {
	color: white;
}

body .vis-timeline .vis-time-axis .vis-text {
	color: #0e4f77;
}

body .vis-timeline .vis-panel .vis-shadow {
	box-shadow: none;
}

body .ui-password .ui-password-icon {
	cursor: pointer;
}

body .ui-password.ui-password-masked .ui-password-icon {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .ui-password.ui-password-masked .ui-password-icon:before {
	content: "\e966";
}

body .ui-password.ui-password-unmasked .ui-password-icon {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
}

body .ui-password.ui-password-unmasked .ui-password-icon:before {
	content: "\e965";
}

body .ui-password-panel {
	background: #323232;
	color: #dedede;
	padding: 1rem;
	border: 1px solid #191919;
	margin: 0;
	width: auto;
	min-width: 150px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	border-radius: 3px;
}

.ui-password.ui-password-masked .ui-password-icon, .ui-password.ui-password-unmasked .ui-password-icon:before
	{
	margin-left: 0.2em;
}

.ui-texteditor .ui-editor-toolbar {
	background: #f4f4f4;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px
}

.ui-texteditor .ui-editor-toolbar.ql-snow {
	border: 1px solid #c8c8c8
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-stroke {
	stroke: #848484
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-fill {
	fill: #848484
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label {
	border: 0 none;
	color: #848484
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label:hover
	{
	color: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label:hover .ql-stroke
	{
	stroke: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker .ql-picker-label:hover .ql-fill
	{
	fill: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label
	{
	color: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke
	{
	stroke: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-fill
	{
	fill: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options
	{
	background: #fff;
	border: 1px solid #c8c8c8;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
	border-radius: 3px;
	padding: 0
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item
	{
	color: #333
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options .ql-picker-item:hover
	{
	color: #333;
	background: #eaeaea
}

.ui-texteditor .ui-editor-toolbar.ql-snow .ql-picker.ql-expanded:not(.ql-icon-picker) .ql-picker-item
	{
	padding: .429rem .857rem
}

.ui-texteditor .ql-container {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.ui-texteditor .ql-container.ql-snow {
	border: 1px solid #c8c8c8
}

.ui-texteditor .ql-container .ql-editor {
	background: #fff;
	color: #333;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px
}

.ui-texteditor .ql-snow.ql-toolbar button:hover, .ui-texteditor .ql-snow.ql-toolbar button:focus
	{
	color: #333
}

.ui-texteditor .ql-snow.ql-toolbar button:hover .ql-stroke,
	.ui-texteditor .ql-snow.ql-toolbar button:focus .ql-stroke {
	stroke: #333
}

.ui-texteditor .ql-snow.ql-toolbar button:hover .ql-fill, .ui-texteditor .ql-snow.ql-toolbar button:focus .ql-fill
	{
	fill: #333
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active, .ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected {
	color: #007ad9
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active .ql-stroke,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke
	{
	stroke: #007ad9
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active .ql-fill,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill
	{
	fill: #007ad9
}

.ui-texteditor .ql-snow.ql-toolbar button.ql-active .ql-picker-label,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-picker-label,
	.ui-texteditor .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-picker-label
	{
	color: #007ad9
}

.ui-texteditor.ui-state-error .ui-editor-toolbar.ql-snow, .ui-texteditor.ui-state-error .ql-container.ql-snow
	{
	border-color: #a80000
}

body .ui-rating .ui-rating-cancel {
	float: none;
	display: inline-block;
	margin-right: 0.5rem;
	overflow: visible
}

body .ui-rating .ui-rating-cancel.ui-state-focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 .1rem #fff
}

body .ui-rating .ui-rating-cancel a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	text-indent: 0;
	transition: background-color .2s, color .2s, border-color .2s,
		box-shadow .2s, opacity .2s;
	display: block;
	font-size: 1.143rem;
	height: 1.143rem;
	width: 1.143rem;
	color: #e4018d;
	overflow: visible
}

body .ui-rating .ui-rating-cancel a:before {
	content: ""
}

body .ui-rating .ui-rating-cancel a:hover {
	color: #b5019f
}

body .ui-rating .ui-rating-star {
	float: none;
	display: inline-block;
	margin-right: .2rem;
	overflow: visible
}

body .ui-rating .ui-rating-star.ui-state-focus {
	outline: 0 none;
	outline-offset: 0;
	box-shadow: 0 0 0 .1rem #fff
}

body .ui-rating .ui-rating-star a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	text-indent: 0;
	display: block;
	font-size: large;
	height: 1.0rem;
	width: 1.0rem;
	color: #888;
	overflow: visible
}

body .ui-rating .ui-rating-star a:before {
	content: ""
}

body .ui-rating .ui-rating-star a:hover {
	color: #81d4fa
}

body .ui-rating .ui-rating-star-on a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	display: block;
	font-size: large;
	height: 1rem;
	width: 1rem;
	color: yellow
}

.ui-rating.ui-fadeRating  .ui-rating-star-on  a {
	font-family: "primeicons" !important;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	background: none;
	display: block;
	font-size: large;
	height: 1rem;
	width: 1rem;
	color: lightyellow
}

body .ui-rating .ui-rating-star-on a:before {
	content: ""
}

body .ui-state-highlight .ui-rating-star a {
	color: #212529
}