@CHARSET "ISO-8859-1";

.preferencesView {
	background:
		url("#{resource['pictures/icons/16x16/preferences_edit.png']}")
		no-repeat !important;
	height: 16px;
	width: 16px;
	padding-right: 4px;
}

.spMetadataView {
	background:
		url("#{resource['pictures/icons/16x16/tag.png']}")
		no-repeat !important;
	height: 16px;
	width: 16px;
	padding-right: 4px;
}

.samlReportView {
	background:
		url("#{resource['pictures/icons/16x16/scroll.png']}")
		no-repeat !important;
	height: 16px;
	width: 16px;
	padding-right: 4px;
}

.ui-icon.downloadIdpMetadataActionIcon {
	background: url("#{resource['pictures/icons/16x16/download.png']}") no-repeat
		!important;
	height: 16px;
	width: 16px;
}

.ui-icon.downloadIdpCertificateActionIcon {
	background: url("#{resource['pictures/icons/16x16/scroll.png']}") no-repeat
		!important;
	height: 16px;
	width: 16px;
}

.ui-password.ui-password-masked .ui-password-icon, .ui-password.ui-password-unmasked .ui-password-icon:before{
	margin-left: 0.2em;
}